<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app03.dao.AnswerMapper">
	<!--查询所有答案信息 -->

	<select id="findAll" resultType="com.briup.app03.bean.Answer">
		select * from poll_answer
	</select>
	<!-- -->
	<!-- 通过id 查询答案信息 -->
	<select id="findById" parameterType="long"
		resultType="com.briup.app03.bean.Answer">
		select * from poll_answer where id=#{id}
	</select>
	<!-- -->
	<!-- 保存答案信息 -->
	<insert id="save" parameterType="com.briup.app03.bean.Answer">
		insert into poll_answer
		values(null,#{selection},#{check},#{content},#{survey_id})
	</insert>
	<!-- -->
	<!-- 修改答案信息 -->
	<update id="update" parameterType="com.briup.app03.bean.Answer">
		update poll_answer
		set selection=#{selection},check=#{check},content=#{content},
		survey_id=#{survey_id}
		
		where id = #{id}
	</update>
	<!-- -->
	<!-- 删除答案信息 -->
	<delete id="delete" parameterType="long">
		delete from poll_answer

	</delete>
	<!-- -->
</mapper>