<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app03.dao.OptionMapper">
	<!--查询所有选项信息 -->
     <select id="finAll"> resultType="com.briup.app03.bean.Option">
     select *from poll_option
     </select>
	<select id="findByQuestionId" parameterType="long" resultType="com.briup.app03.bean.Option">
		select * from poll_option where question_id=#{id}
	</select>
	<!-- -->
	
	
	<insert id="save" parameterType="com.briup.app03.bean.Option">
		insert into poll_option
		values(null,#{label},#{content},#{score},#{question_id})

	</insert>
	<!-- 修改选项信息 -->
	<update id="update" parameterType="com.briup.app03.bean.Option">
		update poll_option
		set label
		=#{label}, content=#{content},score=#{score},question_id=#{question_id}
		where id = #{id}
	</update>
	<delete id="delete" parameterType="long">
		delete from poll_option where
		id=#{id}

	</delete>
</mapper>