<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app03.dao.QuestionMapper">
	<!--查询所有学校信息 -->

	<select id="findAll" resultType="com.briup.app03.bean.Question">
		select * from poll_question
	</select>
	<!-- -->
	<!-- 通过id 查询问题信息 -->
	<select id="findById" parameterType="long"
		resultType="com.briup.app03.bean.Question">
		select * from poll_question where id=#{id}
	</select>
	<!-- -->
	<!-- 保存问题信息 -->
	<insert id="save" parameterType="com.briup.app03.bean.Question">
		insert into poll_question
		values(null,#{name},#{questiontype})
	</insert>
	<!-- -->
	<!-- 修改问题信息 -->
	<update id="update" parameterType="com.briup.app03.bean.Question">
		update poll_question
		set name
		=#{name},  questiontype=#{questiontype}
		where id = #{id}
	</update>
	<!-- -->
	<!-- 删除问题信息 -->
	<delete id="delete" parameterType="long">
		delete from poll_question where
		id=#{id}

	</delete>
	<!-- -->
</mapper>