<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app03.dao.StudentMapper">
	<!--查询所有学生信息 -->

	<select id="findAll" resultType="com.briup.app03.bean.Student">
		select * from tbl_Student
	</select>
	<!-- -->
	<select id="findById" parameterType="long"
		resultType="com.briup.app03.bean.Student">
		select * from tbl_Student where id=#{id}
	</select>

	<insert id="save" parameterType="com.briup.app03.bean.Student">
		insert into tbl_student
		values(null,#{name},#{age})

	</insert>
	<!-- 修改学生信息 -->
	<update id="update" parameterType="com.briup.app03.bean.Student">
		update tbl_student
		set name
		=#{name}, age =#{age}
		where id = #{id}
	</update>
	<delete id="delete" parameterType="long">
		delete from tbl_student where
		id=#{id}

	</delete>
</mapper>

